body{
    margin-left: 100px;
	margin-right: 100px;
    text-align: justify;
}

.ima{
    color: rgb(99, 12, 12);
}

.ilil{
    color: rgb(189, 14, 14);
}

.plas{
    color: rgb(39, 70, 19);
}